@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700;900&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Space Grotesk", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-editorial-bg: #0a0a0a;
  --color-editorial-text: #e0d6c5;
  --color-editorial-gold: #c5a059;
  --color-editorial-border: #2a2620;
  --color-editorial-muted: #8e8271;
  --color-editorial-dark: #141414;
}

body {
  background-color: #0a0a0a;
  color: #e0d6c5;
  font-family: var(--font-sans);
}

